.container img {
    padding: 1rem 3rem 3rem 5rem;
    max-width: 100%;
    height: auto;
}


.col .button {
    display: inline-block;
    margin-top: 1rem;
    color: black;
}
@media screen and (max-width:940px) {
    .container img {
        padding: 10px;
        max-width: 100%;
        height: auto;
    }
}