.frame {
    width: 30rem;
}
.about {
    padding-top: 90px;
    height: 100vh;
    min-height: 100%;
}
.about .btn{
    z-index: 1;
    left:0;
    width: 300px;

}

@media screen and (max-width:940px) {
    .frame {
        max-width: 100%;
    }
}