.hobby {
  display: flex;
  padding: 90px;
  align-items: center;
  justify-content: center;
  height:100vh;
  width: 100%;
  background-color: var(--background);
  overflow: hidden;

  &__image {
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;

    border-radius: 50%;
    background-image: url('../static/hobby.png');
    background-size: cover;
    transition: ease-in-out 0.3s;

    z-index: 2;
    &:before {
      content: " ";
      position: absolute;

      width: 100%;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      background: inherit;
      background-position: bottom;
      filter: blur(40px) saturate(0%);
      transform: scaleX(0.4);
      transition: ease-in-out 0.4s;
      border-radius: 120px;
      transform-origin: right;
      opacity: 0;

      z-index: -1;
    }
    .hobby__info {
      position: relative;
      color: #000000;
      line-height: 1.8;
      transition: ease-in-out 0.3s;
      opacity: 0;
    }
    .hobby__location {
      transition-delay: 0.15s;
      color: #000000;
    }
    &:hover {
      border-radius: 0;
      width: 450px;
      height: 310px;

      box-shadow: 0 0 1px rgba(0, 0, 0, 0.04),
        0 2px 6px rgba(9, 55, 53, 0.08), 0 16px 24px rgba(9, 55, 53, 0.1),
        0 24px 32px rgba(9, 55, 53, 0.14);
      &:before {
        width: 100%;

        opacity: 0.18;
        filter: blur(10px) saturate(100%);
        transform: scale(2.8) translate3d(-18%, 0px, 0px);
      }

      .hobby__info {
        transform: translate3d(-60%, 0px, 0px);
        opacity: 1;
      }
    }
  }
}
.myLink {
  border-bottom: 1px solid transparent!important;
  color: #06c0a8!important;
  text-decoration: none!important;
  transition: ease-in 0.13s!important;
  &:hover {
    background-color: #06c0a8!important;
    color: #ffffff!important;
  }
}

