.home {
    background-color: var(--overlay);
    color:#fff;
    height: 100vh;
}

 .home::before {
     content: '';
     background-image:url('../static/background.jpg');
     left:0;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -2;
}

.hello {
    padding-top: 10rem;

}
.hello p {
    font-size: 4rem;
    font-weight: 700;
    font-stretch: semi-expanded;

}


.social-icons {
    position: absolute;
    bottom: 30px;
    text-align: end;
}

.social-icons a {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    line-height: 35px;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}

.social-icons a:hover {
    background: var(--secondary-color);
    color: #fff;
    transform: translateY(-5px);
}

@media screen and (max-width:940px) {
    .hello {
        margin: auto;
        left: 0;
        right: 0;
        padding: 1rem 1rem 5rem;
    }

    .hello  p {
        font-size: 2rem;
        font-weight: 500;
        font-stretch: initial;
    }
    .social-icons {
        text-align: center;
    }
}