.home {
    background-color: var(--overlay);
    color:#fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.home::before {
    content: '';
    background-image: url('../static/back.png');
    background-color: #1c1d24;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.home .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    padding: 1rem;
    margin-left: 5rem;
}

.home .content p {
    font-size: 4rem;
    font-weight: 700;
}

.btn {
    width: 120px;
    height: 40px;
    font-size: 1.1em;
    background: none;
    border: white;
    position: relative;
    cursor: pointer;
    color:rgb(255, 255, 255);
    transition: 0.6s;
    text-align: center;
    margin-top: 3rem;
    
}

.btn::before, .btn::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    z-index: -1;
   
   
}

.btn::after{ 
    width: 110%;
    height: 90%;
    top:25%;
    left:-5%;
    background: var(--secondary-color);
    z-index: -2;
    transform: scaleX(0.5);
    transition: all 0.6s;  
    
}

.btn:hover::after{
    transform: scaleX(1.01) translateY(-15px);
}

.social-icons {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.social-icons a {
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    line-height: 35px;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}

.social-icons a:hover {
    background: var(--secondary-color);
    color: #fff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

@media screen and (max-width:940px) {
    .home .content p {
        font-size: 2rem;
        font-weight: 500;
    }
    .home .content {
        margin: auto
    }
    .social-icons {
        position: absolute;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    
}